{% extends "base.html" %}

{% block title %}Ludoteca - My Account{% endblock %}

{% block content %}

 {% if perfil_usuario %}
 
  <div class="container mx-auto my-5 px-2 sm:px-8">
    <div class="tabs-container grid grid-cols-12 gap-2">
      <div class="col-span-12 lg:col-span-4">
        <div class="flex flex-col items-center gap-5 rounded bg-white p-5">
          <div class="flex flex-col items-center">
            <div class="relative">
              <div class="h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-md">
                <img class="h-full w-full object-cover" src="{{ url_for('static', filename='images/img/foto_perfil.jpg') }}" alt="profile" />
              </div>
            </div>
            <div class="mt-2 text-center">
              <span class="block font-bold">{{ perfil_usuario.username }}</span>
            </div>
          </div>
          <ul class="w-full text-sm">
            <li class="btn-tabs tab-active-2 transition-all-300 active border-t hover:bg-gray-100">
              <a class="flex items-center gap-2 px-1 py-2" href="javascript:void(0)">
                <i class="bi bi-person flex text-3xl text-primary-color"></i>
                <span>Mi Cuenta</span>
              </a>
            </li>
            <li class="btn-tabs tab-active-2 transition-all-300 border-t hover:bg-gray-100">
              <a class="flex items-center gap-2 px-1 py-2" href="javascript:void(0)">
                <i class="bi bi-clipboard flex text-3xl text-primary-color"></i>
                <span>Mis Pedidos</span>
              </a>
            </li>
            <li class="transition-all-300 border-t hover:bg-gray-100">
              <a class="flex items-center gap-2 px-1 py-2" href="javascript:void(0)">
                <i class="bi bi-box-arrow-left flex text-3xl text-primary-color"></i>
                <span>Cerrar Sesion</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tabs-content col-span-12 lg:col-span-8">
        <div class="tab-content active flex h-full flex-col gap-5 rounded bg-white p-5">
          <span class="block text-xl font-bold">Mi Cuenta</span>
          <form class="grid grid-cols-12 gap-2" action="#">
            <div class="col-span-12 xs:col-span-12">
              <label class="flex flex-col text-sm">
                Nombre
                <input class="input h-10" type="text" placeholder="{{ perfil_usuario.username }}" value="{{ perfil_usuario.username }}" readonly />
              </label>
            </div>
            <div class="col-span-12 xs:col-span-6">
              
            </div>
            <div class="col-span-12 xs:col-span-6">
              
            </div>
            <div class="col-span-12">
              <label class="flex flex-col text-sm">
                Email
                <input class="input h-10" type="text" placeholder="{{ perfil_usuario.email }}" value="{{ perfil_usuario.email }}"
                  readonly />
              </label>
            </div>
          </form>
        </div>

        <div class="tab-content flex h-full flex-col gap-5 rounded bg-white p-5">
          <span class="block text-xl font-bold">Mis pedidos</span>
          <div class="flex flex-wrap justify-between gap-5">
            <form class="search" action="#">
              <div class="flex h-[40px] overflow-hidden rounded-[50px] bg-gray-100">
               
              </div>
            </form>
            
          </div>
          <div class="mix-elements mix-all grid grid-cols-12">
            <div class="mix mix-main mix-processing col-span-12">
              <a class="btn-open-modal transition-all-300 relative block p-4 hover:bg-gray-100"
                href="javascript:void(0)" data-target=".order-details-modal">
                <div class="pointer-events-none flex flex-col gap-5 sm:flex-row">
                  <div class="relative">
                    
                     
                    
                  </div>
                  <div class="flex flex-col justify-between">
                    
                    <div class="my-1 flex items-center gap-1 text-xs">
                      <i class="bi bi-clock flex"></i>
                      
                    </div>
                    <div class="flex flex-col">
                      
                    </div>
                  </div>
                  <div class="mt-auto flex flex-col sm:ml-auto">
                    
                  </div>
                  
                </div>
              </a>
            </div>
            <div class="mix mix-main mix-completed col-span-12">
              <a class="btn-open-modal transition-all-300 relative block p-4 hover:bg-gray-100"
                href="javascript:void(0)" data-target=".order-details-modal">
                <div class="pointer-events-none flex flex-col gap-5 sm:flex-row">
                  <div class="h-[80px] w-[80px] min-w-[80px] overflow-hidden rounded-lg border">
                    
                  </div>
                  <div class="flex flex-col justify-between">
                    
                    <div class="my-1 flex items-center gap-1 text-xs">
                      <i class="bi bi-clock flex"></i>
                    
                    </div>
                    <div class="flex flex-col">
                     
                    </div>
                  </div>
                  <div class="mt-auto flex flex-col sm:ml-auto">
                    
                  </div>
                  
                  </span>
                </div>
              </a>
            </div>
            <div class="mix mix-main mix-cancelled col-span-12">
              <a class="btn-open-modal transition-all-300 relative block p-4 hover:bg-gray-100"
                href="javascript:void(0)" data-target=".order-details-modal">
                <div class="pointer-events-none flex flex-col gap-5 sm:flex-row">
                  <div class="h-[80px] w-[80px] min-w-[80px] overflow-hidden rounded-lg border">
                    
                  </div>
                  <div class="flex flex-col justify-between">
                    
                    <div class="my-1 flex items-center gap-1 text-xs">
                      <i class="bi bi-clock flex"></i>
                      
                    </div>
                    <div class="flex flex-col">
                      
                    </div>
                  </div>
                  <div class="mt-auto flex flex-col sm:ml-auto">
                    
                  </div>
                  <span class="absolute top-0 right-0 m-2 rounded-xl bg-red-200 py-px px-2 text-sm text-red-500">
                   
                  </span>
                </div>
              </a>
            </div>
          </div>
          <button class="transition-all-300 mx-auto rounded border bg-gray-100 py-2 px-3 hover:bg-gray-200">
           
          </button>
        </div>
        <div class="tab-content </li>flex h-full flex-col gap-5 rounded bg-white p-5">
          <div class="flex flex-col gap-4"></div>
            
          </div>
        </div>
        <div class="tab-content flex h-full flex-col gap-5 rounded bg-white p-5">
         
          <div class="flex flex-col gap-4">
            
              <div class="pointer-events-none grid grid-cols-12 items-start gap-2">
                <div class="col-span-12 sm:col-span-3">
                  <div class="flex flex-col">
                    
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-3">
                  <div class="flex flex-col">
                    
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4">
                  <div class="flex flex-col">

                  </div>
                </div>
                <div class="col-span-12 sm:col-span-2 sm:justify-self-end">
                  <div class="flex flex-col">
                    
                    <span class="w-min rounded-xl bg-green-200 py-px px-2 text-sm text-green-500">
                    
                    </span>
                  </div>
                </div>
              </div>
            </a>
           
              <div class="pointer-events-none grid grid-cols-12 items-start gap-2">
                <div class="col-span-12 sm:col-span-3">
                  <div class="flex flex-col">
                  
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-3">
                  <div class="flex flex-col">
                   
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4">
                  <div class="flex flex-col">
                   
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-2 sm:justify-self-end">
                  <div class="flex flex-col">
                    
                  </div>
                </div>
              </div>
            </a>
            
          </div>
        </div>
      </div>
    </div>
   </div>        
  </div>
</div>
</div>
</div>

  <div
    class="order-details-modal modal transition-all-300 invisible fixed inset-0 z-50 flex h-full w-full flex-col items-center justify-start overflow-auto bg-overlay opacity-0">
    <div class="my-10 flex w-full justify-center">
      <div
        class="modal-content relative mx-3 w-[900px] min-w-[250px] scale-0 rounded-lg bg-body px-3 pb-3 pt-7 xs:px-5 xs:pb-5 md:m-5">
        <button
          class="btn-close-modal transition-all-300 absolute top-0 right-0 p-2 sm:top-[-10px] sm:right-[-10px] sm:rounded-lg sm:bg-primary-color sm:text-white sm:hover:bg-primary-hover">
          <i class="bi bi-x-lg text-stroke-medium pointer-events-none flex"></i>
        </button>
        <div class="flex flex-col gap-5">
          <div class="flex flex-wrap items-center gap-2">
            <span class="block text-xl font-bold">Order Details</span>
            <span class="font-semibold">(#1196SD2F)</span>
            <div class="flex items-center gap-2">
              <span class="text-sm text-slate-400"><i class="bi bi-calendar3 mr-1"></i> 18 Feb, 11:30AM</span>
            </div>
          </div>
          <div class="rounded-lg bg-white p-2 sm:p-5">
            <span class="block pb-4 font-semibold">Order Status</span>
            <div
              class="progressbar-container delivery-status mx-auto flex w-4/5 items-center justify-between gap-2 pb-5">
              <div class="step-number relative flex justify-center">
                <div
                  class="transition-all-300 active flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-current">
                  <i class="bi bi-clipboard-check flex"></i>
                </div>
                <span class="absolute bottom-[-25px] hidden whitespace-nowrap text-sm sm:block">Corder Received</span>
              </div>
              <div class="progressbar relative h-2 w-full overflow-hidden rounded-full bg-gray-200">
                <div class="transition-all-300 absolute h-full w-full rounded-full bg-green-500"></div>
              </div>
              <div class="step-number relative flex justify-center">
                <div
                  class="transition-all-300 active flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-current">
                  <i class="bi bi-box-seam flex"></i>
                </div>
                <span class="absolute bottom-[-25px] hidden whitespace-nowrap text-sm sm:block">Preparing order</span>
              </div>
              <div class="progressbar relative h-2 w-full overflow-hidden rounded-full bg-gray-200">
                <div class="transition-all-300 absolute h-full w-0 rounded-full bg-green-500"></div>
              </div>
              <div class="step-number relative flex justify-center">
                <div
                  class="transition-all-300 flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-current">
                  <i class="bi bi-truck flex"></i>
                  <span class="absolute bottom-[-25px] hidden whitespace-nowrap text-sm sm:block">On the way</span>
                </div>
              </div>
              <div class="progressbar relative h-2 w-full overflow-hidden rounded-full bg-gray-200">
                <div class="transition-all-300 absolute h-full w-0 rounded-full bg-green-500"></div>
              </div>
              <div class="step-number relative flex justify-center">
                <div
                  class="transition-all-300 flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-current">
                  <i class="bi bi-check flex"></i>
                  <span class="absolute bottom-[-25px] hidden whitespace-nowrap text-sm sm:block">Delivered Order</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rounded-lg bg-white p-2 sm:p-5">
            <span class="block pb-4 font-semibold">Destination</span>
            <span>Colón 0101, Olavarría</span>
          </div>
          <div class="rounded-lg bg-white p-2 sm:p-5">
            <span class="block pb-4 font-semibold">Products</span>
            <div class="max-h-[300px] overflow-auto">
              <a class="flex w-full flex-col items-center justify-between gap-5 bg-white p-2 hover:bg-gray-100 sm:flex-row"
                href="#">
                <div class="h-[80px] w-[80px] min-w-[80px] overflow-hidden rounded-lg border">
                  <img class="h-full w-full object-cover" src="{{ url_for('static', filename='images/product/prod-1.jpg') }}" alt="product" />
                </div>
                <div class="flex w-full flex-col">
                  <h6 class="clamp-2 break-all text-lg font-semibold">
                    Ryzen 5 3600x
                  </h6>
                  <div class="flex gap-2">
                    <div class="flex gap-1 leading-7 text-gray-400">
                      <span>2</span>
                      <span>X</span>
                    </div>
                    <div class="flex items-center">
                      <span class="font-bold text-primary-color">$37.00</span>
                    </div>
                  </div>
                  <div class="flex items-center gap-2 text-sm">
                    <span class="font-bold">Total:</span>
                    <span>$74.00</span>
                  </div>
                </div>
              </a>
              <a class="flex w-full flex-col items-center justify-between gap-5 bg-white p-2 hover:bg-gray-100 sm:flex-row"
                href="#">
                <div class="h-[80px] w-[80px] min-w-[80px] overflow-hidden rounded-lg border">
                  <img class="h-full w-full object-cover" src="{{ url_for('static', filename='images/cards/mousepad.jpg') }}" alt="product" />
                </div>
                <div class="flex w-full flex-col">
                  <div>
                    <h3 class="clamp-2 break-all text-lg font-semibold">
                      Mousepad Hyperx Fury S Pro Speed
                    </h3>
                    <small class="block"><span class="font-semibold">Size:</span> XL</small>
                    <small class="block"><span class="font-semibold">Color:</span> Black</small>
                  </div>
                  <div class="flex gap-2">
                    <div class="flex gap-1 leading-7 text-gray-400">
                      <span>2</span>
                      <span>X</span>
                    </div>
                    <div class="flex items-center">
                      <span class="font-bold text-primary-color">$37.00</span>
                    </div>
                  </div>
                  <div class="flex items-center gap-2 text-sm">
                    <span class="font-bold">Total:</span>
                    <span>$74.00</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="rounded-lg bg-white p-2 sm:p-5">
            <span class="block pb-4 font-semibold">Total Summary</span>
            <div class="flex flex-wrap items-center justify-between py-1">
              <span>Subtotal:</span>
              <span>$74.00</span>
            </div>
            <div class="flex flex-wrap items-center justify-between py-1">
              <span>Shipping:</span>
              <span>$0.00</span>
            </div>
            <div class="flex flex-wrap items-center justify-between py-1">
              <span>Discount:</span>
              <span>$0.00</span>
            </div>
            <div class="flex flex-wrap items-center justify-between py-1 font-bold">
              <span>Total Cost:</span>
              <span>$74.00</span>
            </div>
          </div>
          <a class="btn-close-modal btn-effect ml-auto w-max rounded-lg bg-primary-color p-2 px-3 font-bold uppercase text-white"
            href="javascript:void(0)">
            <span class="text-center">Close</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-gotop transition-all-300 invisible fixed bottom-[-999px] right-10 z-50 opacity-0">
    <div class="transition-all-300 cursor-pointer rounded-lg bg-[rgba(0,0,0,.3)] p-3 hover:bg-primary-color">
      <i class="bi bi-chevron-compact-up pointer-events-none flex text-2xl text-white"></i>
    </div>
  </div>

{% else %}
<div class="flex items-center justify-center bg-body">
    <div class="rounded-xl bg-white shadow-xl p-10 flex flex-col items-center gap-8 w-full max-w-md">
        <h1 class="text-3xl font-bold text-black mb-4 text-center">
            Sesión cerrada.
        </h1>
        <p>
            Inicie sesión para ver detalles de la cuenta.
        </p>
        
    </div>
</div>
  {% endif %}
{% endblock %}

